.colour_back{
    background-color: #778DA9;
}

.centrar{
    margin: 0 auto;
}


    .contenedor {
        position: relative;
    }
  
    .hijo {
        width: 50px;
        height: 50px;
        /* centrar vertical y horizontalmente */
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 200px 0 0 -20px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
    }

.menu{
    margin-left: 30%;
    margin-right: 30%;
}

.titule{
    color: rgb(0, 0, 0);
}

/*CLASE PARA DEFINIR COMPORTAMIENTO AL INTERACTUAR CON LAS PUBLICACIONES MOSTRADAS*/
.interact{
    color: black;
}

.interact:hover {
    color: black;
  }



/* ESTILO DE FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


            /*ESTILO DE CUERPO DE LA PAGINA*/
body {
  font-family: 'Roboto', sans-serif;
}
            /*ESTILO DE TITULO*/
h1 {
  font-family: 'Roboto', sans-serif;
}
