
/*CLASE PARA DEFINIR COMPORTAMIENTO AL INTERACTUAR CON LAS PUBLICACIONES MOSTRADAS*/
.interact{
    color: black;
}

.interact:hover {
    color: black;
  }



/* ESTILO DE FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


            /*ESTILO DE CUERPO DE LA PAGINA*/
    body {
        font-family: 'Roboto', sans-serif;
    }
            /*ESTILO DE TITULO*/
    h1 {
        font-family: 'Roboto', sans-serif;
    }





