{% extends 'base.html' %}

{% block contenido %}

<div class="container">


    <!--FILTRAR CATEGORIAS DESPLEGABLE: -->
    <div class="dropdown">
        <button class="dropdown-button">CATEGORIAS</button>
        <div class="categorias dropdown-content">
            <a href="{% url 'publicaciones:listar_publicaciones' %}">TODAS</a>
            <a href="{% url 'publicaciones:filtro_alimentos' %}">Alimentos</a>
            <a href="{% url 'publicaciones:filtro_indumentaria' %}">Indumentaria</a>
            <a href="{% url 'publicaciones:filtro_plantas' %}">Plantas</a>
            <a href="{% url 'publicaciones:filtro_bienal' %}">Bienal</a>
            <a href="{% url 'publicaciones:filtro_emprende' %}">Emprendé</a>
            <a href="">Mis Publicaciones</a>
        </div>

    </div>
</div>


<div class="publicaciones contenedor">
    <div class="row">
        {% for p in object_list %}
        <div class="publicacion col-md-4 col-sm-6">
            <a class="interact" href="{% url 'publicaciones:detalle_publicacion' p.pk %}">
                <div class="publicacion__info">
                    <h6>CATEGORIA: {{p.categoria}}</h6>
                    <h3> {{p.titulo}}</h3>
                </div>
                <img src="{{p.imagen.url}}">
                <div>
                    <h6>FECHA: {{p.creado}}</h6>
                    <h6>AUTOR: {{p.autor}}</h6>
                </div>

            </a>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock contenido %}