{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="website icon" type="png" href="{% static 'img/emprende_chaco.png' %}">
  <title>Emprende Chaco: Emprendimientos que Impulsan Nuestra Región</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms_styles.css' %}">

</head>

<body style="background-color:#E0E1DD">

  <div class="container">
      <div class="row">
        <img src="{% static 'img/emprende_chaco.png' %}" width="200">
        <h1 class="titulo ml-3"><font face="verdana">Emprende Chaco: Emprendimientos que Impulsan Nuestra Región </font></h1>
      </div>
      <div class="row">
          
          <div class="col-md-6">
              <li><a class="interact" href="{% url 'home' %}">INICIO</a></li>
              <li><a class="interact" href="{% url 'publicaciones:crear_publicacion' %}">PUBLICAR</a></li>
              <li><a class="interact" href="{% url 'publicaciones:listar_publicaciones' %}">PUBLICACIONES</a></li>
          </div>  
          <div class="col-md-6">
              {% if user.is_authenticated %}
              
              <a href="{% url 'logout' %}">
                <button class="Btn-logout">
                  <div class="sign">
                    <svg viewBox="0 0 512 512">
                      <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                      </path>
                    </svg>
                  </div>
                  <div class="text">Cerrar sesión</div>
                </button>
              </a>
              
              


       

          {% else %}
              <li><a href="{% url 'login' %}">INICIAR SESION</a></li>
              <li><a href="{% url 'usuarios:registrar' %}">REGISTRARSE</a></li>
          {% endif %}
          </div>

      </div>
    </div><hr>
    <div class="container p-3">
          {% block contenido %}

          {% endblock contenido %}
    </div>
  </div>
</body>
</html>