{% extends 'base.html' %}

{% block contenido %}

<div class="bienvenidos contenedor">
    <h2 class="inicio-titulo">Bienvenido a EMPRENDEDORES CHACO</h2><hr>

</div>

<div class="publicaciones contenedor">
    <h2 class="inicio-titulo">LO MAS RECIENTE</h2><hr>
    <div class="row">
            {% for p in object_list %}
            <div class="publicacion col-md-4 col-sm-6">
                <a class="interact" href="{% url 'publicaciones:detalle_publicacion' p.pk %}">
                    <div class="publicacion__info">
                        <h2> {{p.titulo}}</h2>
                    </div>
                    <img src="{{p.imagen.url}}">
                </a>
            </div>
            {% endfor %}
    </div>
</div>


{% endblock contenido %}