{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html>

  <body>
    <div>
    
      <div class="container">

        <h1 style="font-weight: bold;">¡Bienvenido a Nuestro Blog: "Emprendedores Chaco"!</h1>
        
          <h2>¡Gracias por visitar nuestro Blog! Te contamos nuestra historia para que nos conozcas.</h2>
          <br>

          <h3 style="font-weight: bold;">Nuestra Objetivo</h3>

            <h3>En Emprendedores Chaco nuestro Objetivo es poder brindar a todos los emprendedores del Chaco un sistio web, en el cual ellos puedan publicar sobre sus emprendimientos para así, poder impulsarlos y seguir creciendo.</h3>
            <br>
            <br>
          
          <h3 style="font-weight: bold;">Nuestra Historia</h3>

            <h3>Somos alumnos del Informatorio Chaco, actualmente nos encontramos haciendo el curso de Programación y Desarrollo Web, desarrollamos este sitio web como parte del proyecto final de este curso.</h3>
            <br>
            <br>

          <h3 style="font-weight: bold;">Nuestro Equipo</h3>

            <h3>Detrás de Emprendedores Chaco hay un equipo futuros programadores, dicho equipo esta integrado por: Sosa, Carlos Ezequiel; Marcos; Juan y Emiliano.</h3>
            <h3>Juntos Trabajamos para poder brindarles este sitio web.</h3>
            <br>
            <br>

            <h2 style="font-weight: bold;">¡¡Gracias por visitarnos!!</h2>
            <br>
            <br>
        
          <hr>

          <h3>Si tienes algún inconveniente con el sitio o simplemente quieres brindanos un consejo de como mejorarlo puedes contactarnos mediante:</h3>
            <br>
            <li><a href="" style="text-decoration: none;font-weight: bold;color: black;">WhatsApp</a></li> 
            <li><a href="" style="text-decoration: none;font-weight: bold;color: black;">Instagram</a></li>
            <li><a href="" style="text-decoration: none;font-weight: bold;color: black;">Email</a></li>
            <br>
      
      </div>
  
    </div>

  </body>
</html>
{% endblock contenido %}